
import java.util.ArrayList;
import java.util.Collections;
import java.util.Comparator;
 
 class SortArrayListInDescendingOrder {
 
  public static void main(String[] args) {
   
 
    ArrayList a = new ArrayList();   //create an ArrayList object
   
    //Add elements to Arraylist
    a.add("L");
    a.add("M");
    a.add("N");
    a.add("O");
    a.add("P");
   
   
    Comparator c = Collections.reverseOrder(); // To get comparator that imposes reverse order 
   
    System.out.println("Before sorting ArrayList : "+ a);
    
   
   
    Collections.sort(a,c); //To sort an ArrayList using comparator 
    System.out.println("The ArrayList in descending order : " + a);
                                                            
   
  }
}
